body {
    background-color: #7a3333;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  #quote-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 50px auto;
    max-width: 600px;
    padding: 30px;
    position: center;
    
  }
  
  #text {
    font-size: 5px;
    margin-bottom: 20px;
    color: rgb(179, 175, 171);
  }
  
  #author {
    font-size: 25px;
    font-style: italic;
  }
  
  #new-quote {
    background-color: #11eb11;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s;
    margin-bottom: 1px;
    margin-top: 24px;
  }
  
  button{
    background-color: #10da10;
    color: rgb(224, 236, 224);
    width: 100px;
    height: 50px;
    padding: auto;
    border-radius: 3px;
    transition: background-color 0.3s;
    margin-bottom: 1px;
    margin-top: 24px;
    cursor: pointer;
  }
  p{
    color:#7a3333;
    font-size: 20px;
  }